body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e9dfdf;
  font-family: sans-serif;
  /* overflow-y: auto; */
}

.container {
  /* padding: 15px; */
  width: 80%;
}
.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
}
.instruction-container {
  max-width: 100%;
  min-width: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
  margin: 0;
}
.overview h3 {
  text-align: center;
}
.start-button {
  display: flex;
  justify-content: center;
}
.start-button button {
  padding: 10px 15px;
  background-color: green;
  border-radius: 10px;
  color: white;
}
.start-button button:hover {
  background-color: rgb(2, 155, 2);
}
button {
  cursor: pointer;
}
.timer {
  color: red;
  float: right;
}

.question-container {
  /* max-width: auto;
  min-width: 650px; */
  /* width: 100%; */
  /* padding: 10px; */
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
  margin-top: 30px;
}
.question p {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.options ol {
  list-style-type: lower-alpha;
  padding: 0;
  margin-left: 20px;
}

.options li {
  font-size: 15px;
  padding: 10px;
  background-color: #e7e7e7;
  margin: 8px 0;
  border-radius: 5px;
  /* border: 1px solid #e7e7e7; */
  cursor: pointer;
  transition: background-color 0.3s;
}

.options li:hover {
  background-color: #c7c7c7;
}
.selected {
  background-color: rgb(193, 193, 226) !important;
}
.options li:focus {
  outline: none;
  background-color: #c7c7c7;
}
.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.btn {
  border: 1px solid #c7c7c7;
  background-color: #e7e7e7;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.btn:enabled {
  background-color: rgb(19, 184, 19);
  color: white;
}
.result-container {
  background-color: white;
  /* padding: 20px 30px; */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 10px;
}
.sub-container {
  width: 100%;
}

.sub-container h3 {
  justify-self: center;
}

.result {
  /* background-color: #c8e6c9; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 5px;
}
.result button {
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
  /* font-size: 15px; */
  cursor: pointer;
}
/* .submitted {
  background-color: rgb(236, 15, 15) !important;
  color: white;
} */
#correct {
  background-color: rgb(62, 224, 62);
  border: 1px solid rgb(62, 224, 62);
}
#wrong {
  background-color: rgb(236, 15, 15);
  border: 1px solid rgb(236, 15, 15);
  color: white;
}
#unanswered {
  background-color: yellow;
  border: 1px solid yellow;
}
#retry {
  background-color: rgb(14, 136, 236);
  border: 1px solid rgb(14, 136, 236);
  color: white;
}
.error-message button {
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  background-color: rgb(14, 136, 236);
  color: white;
}

.details {
  /* margin: 10px; */
  overflow-y: auto;
  max-height: 350px;
  padding: 10px;
}
.details::-webkit-scrollbar {
  width: 8px;
}
.details::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 20px;
}
.details::-webkit-scrollbar-thumb {
  background-color: #e7c4c4;
  border-radius: 10px;
  border: 2px solid white;
}

.result-container li.submitted {
  background-color: rgb(247, 191, 191);
}

.result-container li.correct {
  background-color: white;
}

.result-container ol {
  list-style-type: lower-alpha;
  padding: 0;
  margin-left: 20px;
}

.result-container li {
  font-size: 15px;
  padding: 5px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details .question-container {
  /* margin-bottom: 30px; */
  /* background-color: #c8e6c9; */
  padding-top: 10px;
}
.question-block {
  /* background-color: aquamarine; */
  /* padding: 10px;
  margin: 10px; */
  margin-bottom: 20px;
  padding: 10px;
}
.question-block p {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: 600;
  /* font-size: 20px; */
  /* text-align: center; */
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}
.bg-blue {
  background-color: rgb(208, 238, 208);
  border-radius: 10px;
}
.bg-red {
  background-color: #f7dcdc;
  border-radius: 10px;
}
.bg-yellow {
  background-color: rgb(247, 247, 195);
  border-radius: 10px;
}
